.back-to-top {
  right: $b2t-position-right;
  left: auto;

  +tablet-mobile() {
    right: $b2t-position-right-mobile;
    left: auto;
  }
}

+tablet-mobile() {
  .sidebar-toggle {
    bottom: $b2t-position-bottom-on;
  }
}
